.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background: linear-gradient(to bottom, #49955E 50%, transparent);
}

.main {
  text-align: center;
}

.hero {
  font-size: 10vw;
  padding: 10vh 0;
}

.nickName {
  font-size: 8vw;
}
.name {
  font-size: 4vw;
}

.sectionTitle {
  font-size: 6vw;
  padding-bottom: 3rem;
}
.section {
  padding: 10vh 0;
}

.sectionBody {
  font-size: 4vw;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.sectionTable {
  font-size: 4vw;
  margin: 0 auto;
  border-collapse: collapse;
}
.sectionTable th {
  text-align: right;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.sectionTable td {
  text-align: left;
  padding-bottom: 1rem;
}

.snsList {
  width: fit-content;
  margin: 0 auto;
}
.snsLink {
  display: flex;
  align-items: center;
}
.snsLink:focus,.snsLink:hover,.snsLink:active {
  text-decoration: underline;
}
.snsLink img{
  margin: 3rem;
  width: 20vw;
  max-width: 80px;
}
.snsLink {
  text-align: left;
  text-decoration: none;
}
.snsLink:focus,.snsLink:hover,.snsLink:active {
  text-decoration: underline;
}


@media screen and (min-width:1000px) {
  .hero {
    font-size: 5rem;
  }
  .nickName {
    font-size: 4rem;
  }
  .name {
    font-size: 2rem;
  }
  
  .sectionTitle {
    font-size: 3rem;
  }
  
  .sectionBody,.sectionTable {
    font-size: 2rem;
  }
}